<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <title>Restoran Kayıt</title>
    <style>
        .big-title {
        font-family: 'Raleway', sans-serif;
        font-size: 5rem;
        padding-left: 10px;
        margin-top: 50px;
        margin-left: 5px;
        text-align: center;
    }
    .movie-name{
        width: 20%;
    }
    .form {
        width: 50%;
        text-align: left;
        margin-top: 80px;
        margin:80px auto 0 auto;
    }
    .adres {
        text-align: center;
    }
    </style>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <h1 class="big-title">Restoran Kayıt</h1>
    <div class="form">
        <form class="row g-3" action="/restoran_kayıt" method="POST">
            <div class="col-md-12">
              <label for="inputEmail4" class="form-label">Restoran Adı</label>
              <input type="text" class="form-control" id="inputEmail4" name="restoran_ad" placeholder="Lütfen adınızı giriniz">
            </div>
            <div class="col-md-6">
              <label for="inputAddress" class="form-label">Restoran telefon numarası</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Telefon numaranız" name="restoran_telefon">
            </div>
            <div class="col-md-6">
                <label for="inputAddress" class="form-label">Restoran email adresi</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Email Adresiniz" name="restoran_email">
            </div>
            <div class="col-md-12">
                <label for="inputEmail4" class="form-label">Şifre</label>
                <input type="text" class="form-control" id="inputEmail4" name="restoran_sifre" placeholder="Şifre giriniz">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-secondary">Kaydet</button>
            </div>
        </form>
    </div>
</body>
</html>